@keyframes scanning {
  25% {
    translate: 0 35px;
  }
  75% {
    translate: 0 -35px;
  }
}

[data-type="barcode"] {
  & .formkit-dialog {
    border: none;
    background-color: transparent;
    padding: 0;
    border-radius: 20px;
  }

  &.scanner-container {
    position: relative;
  }

  & .formkit-icon.formkit-close-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 3em;
    height: 3em;

    & svg {
      max-height: 2em;
      max-width: 2em;
    }
  }

  & .overlay {
    position: absolute;
    inset: 0;
    background: rgba(30, 30, 30, 0.5);
    clip-path: polygon(0 30%, 100% 30%, 100% 70%, 0 70%);
  }

  & .laser {
    width: 100%;
    background-color: red;
    position: absolute;
    top: 50%;
    z-index: 2;
    height: 1px;
    animation: scanning 2s infinite;
  }
}
