@keyframes scanning {
  0% {
    top: 2px;
    box-shadow: 0 0 0 0 rgb(255, 104, 104, 0);
  }
  1%,
  45% {
    box-shadow: 0 -0.25rem 0.5rem 0.25rem rgb(255, 104, 104, 0.5);
  }
  48% {
    top: calc(100% - 2px);
  }
  50% {
    top: calc(100% - 2px);
    box-shadow: 0 0 0 0 rgb(255, 104, 104, 0);
  }
  51%,
  95% {
    box-shadow: 0 0.25rem 0.5rem 0.25rem rgb(255, 104, 104, 0.5);
  }
  98% {
    top: 2px;
  }
  100% {
    top: 2px;
    box-shadow: 0 0 0 0 rgb(255, 104, 104, 0);
  }
}

[data-type="barcode"] {
  & .formkit-dialog {
    border: none;
    background: #000;
    padding: 0;
    border-radius: 0.5rem;
    width: calc(100% - 2rem);
    max-width: 30rem;

    &::backdrop {
      background-color: rgba(30, 30, 30, 0.25);
    }
  }

  & .formkit-video {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    display: block;
  }

  & .formkit-barcode-icon {
    cursor: pointer;

    & svg {
      max-height: 1.25em;
      max-width: 1.25em;
    }
  }

  & .formkit-icon.formkit-close-icon {
    cursor: pointer;
    position: absolute;
    background: var(--fk-color-button);
    border-radius: 100%;
    top: 0.5rem;
    right: 0.5rem;
    width: 1.5em;
    height: 1.5em;

    & svg {
      max-height: 1em;
      max-width: 1em;
    }
  }

  & .formkit-overlay {
    position: absolute;
    background: rgba(30, 30, 30, 0.25);
    top: 50%;
    left: 50%;
    width: min(20em, 75%);
    aspect-ratio: 1/1;
    transform: translate(-50%, -50%);
    border-radius: 0.5rem;
    overflow: hidden;
    pointer-events: none;
  }

  & .formkit-overlay-decorators {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
  }

  & .formkit-overlay-decorator-top-left,
  & .formkit-overlay-decorator-top-right,
  & .formkit-overlay-decorator-bottom-left,
  & .formkit-overlay-decorator-bottom-right {
    position: absolute;
    width: 1rem;
    height: 1rem;
  }

  & .formkit-overlay-decorator-top-left {
    top: 0;
    left: 0;
    border-left: 3px solid #fff;
    border-top: 3px solid #fff;
    border-top-left-radius: 0.5rem;
  }
  & .formkit-overlay-decorator-top-right {
    top: 0;
    right: 0;
    border-right: 3px solid #fff;
    border-top: 3px solid #fff;
    border-top-right-radius: 0.5rem;
  }
  & .formkit-overlay-decorator-bottom-left {
    bottom: 0;
    left: 0;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-bottom-left-radius: 0.5rem;
  }
  & .formkit-overlay-decorator-bottom-right {
    bottom: 0;
    right: 0;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-bottom-right-radius: 0.5rem;
  }

  & .formkit-laser {
    width: 100%;
    background-color: rgb(255, 164, 164);
    position: absolute;
    top: 50%;
    z-index: 2;
    height: 3px;
    border-top: 1px solid rgb(255, 104, 104);
    border-bottom: 1px solid rgb(255, 104, 104);
    animation: scanning 4s infinite ease-in-out;
  }
}
